html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: arial, courier, helvetica;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 22px;
  font-weight: 500;
  padding: 1.3em 0;
}

h3 {
  margin: 1em 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 100, 100);
}

h4 {
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 0;
  color: rgb(100, 100, 100);
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(252, 146, 47);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 6px 9px -6px #888;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(255, 209, 166);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

hr {
  border-color: rgb(252, 146, 47);
}

@media (min-width: 992px) { 
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  hr {
    border-color: rgb(252, 146, 47);
    width: 50%;
  }
}