.banner {
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: 100% auto;
}

.bannerLayer {
    background-color: rgba(90, 90, 90, 0.7);
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.name {
    padding-top: 10px;
    padding-left: 10%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: right;
    padding: 0 0.5em;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
}
.links img {
    height: 1.8em;
    width: 1.8em;
    flex: 1;
    display: block;
}

.linkText {
    display: none;
}

.profilePic {
    position: relative;
    top: -50px;
    max-width: 132px;
    margin: auto;
    z-index: 2;
}

.profileBio {
    margin: 1.5em 10%;
    line-height: 1.5;
}

.profileInfo {
    position: relative;
    top: -30px;
}

.profileInfo h2 {
    color: rgb(100, 100, 100);
}

.mainImg {
    background-position: center;
    border-radius: 100%;
    border: solid 10px rgb(255, 255, 255);
    background-size: auto 125px;
    height: 120px;
    width: 120px;
    margin: auto;
    /* box-shadow: 0px 6px 9px -6px #888; */
}

.infoBox {
    display: block;
    text-align: center;
    margin: auto;
}

.title {
    padding: 1em 0;
    letter-spacing: 0.1em;
}

.location {
    font-size: 14px;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.locIcon {
    height: 20px;
    margin-right: 0.5em;
}

.subTitles {
    color: rgb(100, 100, 100);
    padding: 1em;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.15em;
    list-style-type: none;
}
@media (min-width: 992px) {
.banner {
    height: 220px;
}
.name {
    padding-top: 30px;
    padding-left: 10%;
}
.links {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background-color: #ffffff00;
    padding-right: 5%;
}
.links:hover {
    color: rgb(252, 146, 47);
}
.links img {
    display: none;
}
.linkText {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0.1em;
    text-align: center;
}
.linkText:hover {
    color: rgb(252, 146, 47);
    text-decoration: underline;
}

.infoBox {
    display: flex;
    max-width: 900px;
    text-align: left;
}

.center {
    width: 100%;
}

.profilePic {
    top: -90px;
    max-width: 264px;
    margin: 0px;
    float: left;
}
.mainImg {
    background-position: center;
    background-size: auto 220px;
    height: 220px;
    width: 220px;
    margin: 0;
    border-top: solid 20px rgb(255, 255, 255);
    border-left: solid 20px rgb(255, 255, 255);
    border-right: solid 20px rgb(255, 255, 255); 
    border-bottom: solid 0px rgb(255, 255, 255); 
}
.profileInfo {
    display: flex;
    align-content: flex-start;
    position: relative;
    text-align: center;
    top: 10px;
    padding: 0 0 3em 0;
    min-height: 15em;
    max-width: 640px;
    float: right;
}
.infoCluster {
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    border: solid 1px #888;
    flex: 0;
    box-shadow: 0px 6px 9px -6px #888;
}
.title {
    padding: 0 0 0.5em 0;
}
.location {
    font-size: 18px;
    display: block;
}
.profileBio {
    position: relative;
    display: inline;
    text-align: left;
    flex: 1;
    margin: 1em 2em;
    font-size: 18px;
    line-height: 2em;
}
.subTitles {
    padding: 0 2em;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.1em;
    text-align: left;
    list-style-type: square;
}
}